body {
    text-align: center;
    background-color: #2a2d34;
    color: #7a93ac;
}

#connect4 {
    background-color: #617073;
    display: inline-block;
}

#boardbox {
    background-color: #617073;
    margin-left: 6%;
    margin-right: 6%;
    padding: 8px;
    border-radius: 5%
}
.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    border: 3px solid white;
    
}

.col.empty {
    cursor: pointer;
}

.next-ORANGE {
    background-color: rgba(242, 100, 48, 0.2);
}

.next-BLUE {
    background-color: rgba(0, 157, 220, 0.2);
}

.col.ORANGE {
    background-color: rgba(242, 100, 48, 1);
}

.col.BLUE {
    background-color: rgba(0, 157, 220, 1);
}