body {
    text-align: center;
    background-color: #2a2d34;
    color: #7a93ac;
}

input[type=radio] {
    margin-left: 5%;
    margin-bottom: 10%;
}

#settingsButton {
    text-align: left;
}

#settingsPanel {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(97, 112, 115, 1);
    border: 5px solid white;
    width: 500px;
    height: 500px;
    text-align: left;
    text-indent: 5%;
    /*for testing, change to none*/
    display: 0;
}

#applySettings {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
}

#connect4 {
    background-color: #617073;
    display: inline-block;
}

#currentTurn {
    font-family: sans-serif;
    font-size: 30px;
    color: white;
}

#turnBox {
    border: 5px solid white;
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(97, 112, 115, 1);
}

.themeBox {
    display: inline-block;
    position: absolute;
    left: 35%;
    width: 25px;
    height: 25px;
    border: 5px solid white;
    vertical-align: middle;
}
.themeBox2 {
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 5px solid white;
    vertical-align: middle;
}

.col {
    width: 120px;
    height: 120px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    border: 3px solid white;

}

.col.empty {
    cursor: pointer;
}

/* Bright - BLUE and ORANGE */

.next-ORANGE {
    background-color: rgba(242, 100, 48, 0.2);
}

.next-BLUE {
    background-color: rgba(0, 157, 220, 0.2);
}

.col.ORANGE {
    background-color: rgba(242, 100, 48, 1);
}

.col.BLUE {
    background-color: rgba(0, 157, 220, 1);
}

/*Classic - RED and BLACK */

.next-RED {
    background-color: rgba(183, 11, 11, 0.2);
}

.next-BLACK {
    background-color: rgba(53, 53, 53, 0.2);
}

.col.RED {
    background-color: rgba(183, 11, 11, 1);
}

.col.BLACK {
    background-color: rgba(53, 53, 53, 1);
}

/* Earth - GREEN and BROWN */

.next-GREEN {
    background-color: rgba(57, 140, 60, 0.2);
}

.next-BROWN {
    background-color: rgba(150, 120, 79, 0.2);
}

.col.GREEN {
    background-color: rgba(57, 140, 60, 1);
}

.col.BROWN {
    background-color: rgba(150, 120, 79, 1);
}
